.header{
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  box-shadow: 0px 15px 22px -12px rgba(140,140,140,1);
}
.header-text{
  color: #5d5d5d;
  font-size: 28px;
  align-self: flex-end;
}
.content{
  border: 2px solid red;
  height: 88vh;
  overflow: auto;
}
.news{
  height: 125px;
  margin-bottom: 10px;
  display: flex;
  padding-left: 25px;
  padding-right: 25px;
}
.news-image{
  height: 125px;
    width: 175px;
}
.news-content{
  padding-left: 25px;
}
.text-wrap{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}